@import 'bootstrap';

// .logo {
  // margin: 0;
  // font-family: 'Chicle', cursive;
  // font-size: 4rem;
  // line-height: 1.1;
  // font-weight: 800;
// }

// .navbar {
//     background-color: #6db7bd;
// }

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 1rem;
  line-height: 1.5;

  // font-family: 'Chicle', cursive;
  // color: black;
}
h1 {
  margin: 0;
  font-family: 'Chicle', cursive;
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 800;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.88rem;
  line-height: 1.2;
  font-weight: 800;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Chicle', cursive;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 300;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 300;
}

.blackcat {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  width: 450px;
}

.main-wrapper.color-yellow {
  background-color: #f9de4e;
}

.registration-form {
    background-color: #eee;
}

.card.text-black {
    border-radius: 25px;
}